.qmake.cache
.qmake.stash
src/3rdparty_upstream/patches
src/3rdparty_upstream/ninja
src/3rdparty_upstream/chromium
src/core/Debug
src/core/Release
src/core/api/Release
src/core/api/Debug
src/core/gypfiles
examples/webengine/quicknanobrowser/quicknanobrowser
examples/webengine/quicknanobrowser/quicknanobrowser.app
examples/webenginewidgets/browser/browser
examples/webenginewidgets/browser/browser.app
examples/webenginewidgets/contentmanipulation/contentmanipulation
examples/webenginewidgets/contentmanipulation/contentmanipulation.app
examples/webenginewidgets/simplebrowser/simplebrowser
tests/quicktestbrowser/quicktestbrowser

tests/**/tst_*
!tests/**/tst_*.*

*.o
Makefile*
*.pro.user*
*.moc
moc_*.cpp
*.orig
*.rej
*.pak
.uic
.rcc
*.pyc
.pch
.obj

# Compiled QML/JS code
*.qmlc
*.jsc
