[submodule "build/ninja"]
	path = build/ninja
	url = https://github.com/martine/ninja.git
[submodule "chromium"]
	path = chromium
	url = https://chromium.googlesource.com/chromium/src.git
	ignore = all
