[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[project]
	description = ssh://codereview.qt-project.org:29418/qt-labs/qtwebengine.git
	state = active
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access]
	inheritFrom = All-Projects
[access "refs/heads/release"]
	submit = group Registered Users
	exclusiveGroupPermissions = stage
[cherryPick "labelFooters"]
	Sanity-Review = true
