[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[project]
	description = ssh://codereview.qt-project.org:29418/qt-labs/qtwebengine.git
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access]
	inheritFrom = All-Projects
